<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Separator" value=","/>
    <add key="MinBorrowingAmount" value="1000"/>
    <add key="MaxBorrowingAmount" value="15000"/>
    <add key="BorrowingAmountMultiple" value="100"/>
    <add key="LoanTermMonths" value="36"/>
    <add key="CsvFileNameIndex" value="0"/>
    <add key="CsvFileRateIndex" value="1"/>
    <add key="CsvFileAvailabilityIndex" value="2"/>
    <add key="RateRoundngDecimalPlaces" value="1"/>
    <add key="RepaymentsRoundngDecimalPlaces" value="2"/>
  </appSettings>
</configuration>